@page "/"
@attribute [Authorize]

<NavMenu></NavMenu>
<div class="col-lg-10">
    <div class="row text-center">
        <h2>WELCOME TO ADMIN HOME PAGE</h2>
        <h3>Site statistic feature in development</h3>
    </div>
</div>