@page 
@model WBlog.Admin.Pages.Loginnn

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="/_content/Radzen.Blazor/css/default-base.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/admin.css"/>
    <title>Login</title>
</head>
<body>
<header class="container mb-5">
    <div class="text-center">
        <h3 class="h1">Admin Panel Login</h3>
    </div>
</header>
<div class="container">
    <div class="container d-flex justify-content-center py-5">
        <form  method="post" >
            <div class="row mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="row mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


</div>
</body>
</html>