@page "/Options"
@attribute [Authorize]

<NavMenu></NavMenu>

<div class="col-lg-10">
    <div class="row text-center">
        <h2>WELCOME TO ADMIN OPTIONS PAGE</h2>
        <h3>The function of the settings page in development</h3>
    </div>
</div>