@page "/admin/Article/Edit"

<div class="d-flex content col-lg-9 justify-content-center pb-2">
    <form class="row" method="post" enctype="multipart/form-data">
        <input type="hidden" /> @* ID *@
        @* CreateTime *@
        <input type="hidden" />
        @* ImagePath *@
        <input type="hidden" />

        <div asp-validation-summary="All" class="error_mes"> </div>
        @* Title *@
        <div class="mb-3">
            <label class="form-label ms-2 fw-bolder">Title</label>
            <span asp-validation-for="" class=""></span>
            <input class="form-control" type="text" placeholder="Название статьи" />
        </div>
        @* Slug *@
        <div class="mb-3">
            <label class="form-label ms-2 fw-bolder">Slug</label>
            <span asp-validation-for="" class=""></span>
            <input class="form-control" type="text" placeholder="Название статьи" />
            <div class="form-text">
                slug must contain only letters of the Latin alphabet , numbers, dashes and spaces.
            </div>
        </div>
        @* Image *@
        <div class="d-flex justify-content-between mb-3">
            <div class="col-md-4">
                <label class="form-label ms-2 fw-bolder">Image Cover</label>
                <input class="form-control " type="file" name="Image">
            </div>
            <div class="img-box col-md-4">
                <img class="img-thumbnail" src="images/love.jpg" alt="pic" style="width: 100%;">
            </div>
        </div>
        @* Tags *@
        <div class="mb-3">
            <label class="form-label ms-2 fw-bolder">Теги</label>
            <span asp-validation-for="" class=""></span>
            <div class="d-flex mb-3">
                <input id="tagInput" class="form-control me-2" type="text" @bind="@InputTag" @bind:event="oninput"
                    @onkeydown="PressEnter" />
                <button type="button" class="btn btn-outline-primary" @onclick="AddTag">Добавить</button>
            </div>
            @if (Tags.Any())
            {
                foreach (var item in Tags)
                {
                    <span class="badge bg-success position-relative p-2 me-2 mb-1">
                        @item
                        <span type="button" @onclick="@(e=>RemoveTag(@item))"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X
                        </span>
                    </span>
                }
            }
            else
            {
                <span>добавьте #тег</span>
            }
        </div>
        @* Description *@
        <div class="mb-3">
            <label class="form-label ms-2 fw-bolder">Description</label>
            <span asp-validation-for="" class=""></span>
            <textarea class="form-control" placeholder="Описание статьи" cols="30" rows="10"></textarea>
        </div>
        @* Content *@
        <div class="mb-4">
            <label class="from-label ms-2 fw-bolder">Content</label>
            <span asp-validation-for="" class=""></span>
            @* <textarea class="form-control" id="editor"></textarea> *@
            <RadzenHtmlEditor @bind-Value=@htmlValue cols="30" rows="10">
                <RadzenHtmlEditorUndo />
                <RadzenHtmlEditorRedo />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorBold />
                <RadzenHtmlEditorItalic />
                <RadzenHtmlEditorUnderline />
                <RadzenHtmlEditorStrikeThrough />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorAlignLeft />
                <RadzenHtmlEditorAlignCenter />
                <RadzenHtmlEditorAlignRight />
                <RadzenHtmlEditorJustify />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorIndent />
                <RadzenHtmlEditorOutdent />
                <RadzenHtmlEditorUnorderedList />
                <RadzenHtmlEditorOrderedList />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorColor />
                <RadzenHtmlEditorBackground />
                <RadzenHtmlEditorRemoveFormat />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorSubscript />
                <RadzenHtmlEditorSuperscript />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorLink />
                <RadzenHtmlEditorUnlink />
                <RadzenHtmlEditorImage />
                <RadzenHtmlEditorFontName />
                <RadzenHtmlEditorFontSize />
                <RadzenHtmlEditorFormatBlock />
            </RadzenHtmlEditor>
        </div>
        @* save button *@
        <hr>
        <div class="mb-3 d-flex justify-content-between pb-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label fw-bolder">
                    Опубликовать
                </label>
            </div>
            <button type="submit" class="btn btn-md btn-outline-success">Сохранить </button>
        </div>
    </form>
</div>


@code
{
    private string htmlValue { get; set; } = string.Empty;
    private string InputTag { get; set; } = string.Empty;
    private ICollection<string> Tags { get; set; } = new List<string>();

    private void AddTag()
    {
        if (string.IsNullOrWhiteSpace(InputTag) == false)
        {
            Tags.Add(InputTag);
            InputTag = string.Empty;
        }
    }
    private void RemoveTag(string value)
    {
        Tags.Remove(value);
    }

    private void PressEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (string.IsNullOrWhiteSpace(InputTag) == false)
            {
                Tags.Add(InputTag);
                InputTag = string.Empty;
            }
        }
    }
}