.nav-item :hover {
    background-color: var(--bs-white) !important;
    color: var(--bs-success) !important;
}

.nav-item>a.active {
    color: var(--bs-success) !important;
    font-weight: 900;

}

.navbar-nav>li {
    text-transform: none;
}

main {
    min-height: 100%;
}

@media (max-width: 960px) {


    .sidebar>li {
        padding: 0 10px;
    }

    .sidebar {
        flex-direction: row !important;
        justify-content: center;
    }
}



/* Radzen css */
.rz-html-editor-content {
    min-height: 400px;
}

.shadow-box-dis {
    box-shadow: none !important;
    border: 0px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
}
.shadow-box-dis:focus{
    border: 1px solid #a6a9ac;
}
.form-control:disabled {
    background-color: #ffffff !important;
}

.tb-row{
    color: var(--bs-gray-800);
}