.nav-item :hover {
    background-color: var(--bs-white) !important;
    color: var(--bs-success) !important;
}

.nav-item>a.active {
    color: var(--bs-success) !important;
    font-weight: 900;

}

.navbar-nav>li {
    text-transform: none;
}

main {
    min-height: 100%;
}

@media (max-width: 960px) {


    .sidebar>li {
        padding: 0 10px;
    }

    .sidebar {
        flex-direction: row !important;
        justify-content: center;
    }
}



/* Radzen css */
.rz-html-editor-content {
    min-height: 400px;
}