@page "/admin/Tags/TagsList"
@page "/admin/Tags"

<SideMenu></SideMenu>
<div class="col-lg-10">
    <h2>Теги</h2>

    <table class="table">
        <thead>
            <tr>
                <th class="col" scope="col">#</th>
                <th class="col-11" scope="col">Название</th>
                <th class="col" scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Tags ?? Enumerable.Empty<TagModel>())
            {
                <tr class="post">
                    <th scope="row">1</th>
                    <td> <a href="/admin/Tag/Edit">@item.Name</a> </td>
                    <td>43.32.4232</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Inject]
    public IBlogClient BlogClient { get; set; }

    public IEnumerable<TagModel> Tags { get; set; }



    protected async override Task OnInitializedAsync()
    {
        Tags = await BlogClient.GetAsync<IEnumerable<TagModel>>("api/tag");
    }
}
