@page
@model Wblog.WebUI.Pages.AboutModel
@{
    ViewData["Title"] = "Об Авторе";
    ViewData["TitleLine"] = "Об Авторе";
}

<div class="row py-5">
    <div class="content col-lg-9">
        <partial name="~/wwwroot/_Partial_About.html" />
         <p>Use this page to detail your site's or you.</p>
    </div>
    <!-- side artea-->
    <div class="side-area col-lg-3">
        <h4>Популярные теги</h4>
        @await Component.InvokeAsync("TagsCloud")
    </div>
</div>


