@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    ViewData["TitleLine"] = "Ошибка";
}

<div class="row justify-content-center my-4">
    <div class="col-lg-4 ">
        @if (Model.statusCode != null)
        {
            <h2 class="h1 text-center">@Model.statusCode</h2>
        }
        <h3 class="h2 text-center"> @Model.Message</h3>
        <h2 class="text-center fw-bolder"><a class="" href="/">Вернуться на главную</a></h2>
    </div>

</div>
