input,textarea{
    outline:none;
}

.ck-editor__editable {
    min-width: 760px;
    max-width: 1050px;
    width: 100%;
    min-height: 300px;
}

#edit_from .edit_labels{
    margin: 10px 0;
    font-weight: bold;
    display: block;
}
#edit_from .edit_input{
    padding: 4px 10px;
    display: block; 
    height: 35px;
}
.fild_container{
    display: block;
    margin-bottom: 30px;
}
.fild_container_flex{
    display: flex;
    margin-bottom: 30px;
}
.input_text{
    max-width: 400px;
    width: 100%; 
    border-radius: 4px;
    border: 1px solid grey;
}
/* .input_button{

} */

#edit_from textarea{
    height: 200px;
    width: 100%;
    min-width: 760px;
    max-width: 1050px;
}

.edit_inline_item{
    justify-content: space-between;
    display: flex;
}
#e_checkbox{
    margin: auto 5px;
}
#delete_button{
    color: red;
}


.tag_container{
    display: flex;
}

