*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 10px 0;
}
body,html{
    height: 100%;
}
body{ 
    background-color: #dfdede; 
    color: rgb(32, 32, 32);
    font-size: 14px; 
    font-family: Verdana, Arial, sans-serif;
    line-height: 20px; 
    margin: 0;
}
a{ 
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s linear 0s; 
    color: rgb(22, 22, 22);
}

*, *:before, *:after { 
    box-sizing: border-box; 
}
/* --------------------global class------------------------- */
.a-action a{
    color: rgb(52, 121, 224);
}
.a-action a:hover {
    background-color: rgb(211, 211, 211);
    color: rgb(22, 22, 22);
}


.main-page{
    position: relative;
    min-height: 100%;
    width: 100%;
    padding-bottom: 120px;
}
#footer{
    display: block;
    width: 100%;
    position:  absolute;
    background-color:rgb(51, 49, 49);
    height: 100px;
    bottom: 0;
}
#footer > div{
    text-align: center;
    padding: 20px;
    color: white;
}
/*header*/
header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid black;
}
.header-conteiner{
    padding: 10px 20px;
    display: flex;
    width: 1350px;
    margin: 0 auto;
    height: auto;
}
/* logo*/
.header-logo{
    margin: auto;
    display: flex;
    margin-left: 5px;
    margin-right: 20px;
}
.header-logo > a{
    font-weight: 800;
    font-size: 30px;
    margin: auto;
}
.header-logo > a > span{
    color: rgb(3, 77, 13);
}
/*nav bar*/
.header-navigation-button{ 
    display: flex;
}
.header-navigation-button > a{
    border-radius: 15px;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
    text-align: center;
}
.header-navigation-button > a:hover{
    background-color: rgb(188, 215, 252); 
}
/*header END*/

/*Main Page*/
.site-content{
    display: flex;
    height: auto;
    width: 1350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
/*main area*/
.main-area{
    width: 1100px;
/*    min-width: 800px;*/
    background-color: white;
    margin-right: 10px;
}
.main-area-inner{
    padding: 20px;
}
.post-descriprion{
    flex:1;
}
.post {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}
.a-img{
    margin-left: 10px;
}
.a-img > img{
    object-fit: cover;
    width: 250px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.pages-div {
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(201, 200, 200);
}

.pages-div > ul{
    justify-content: center;
    display: flex;
    margin: auto;
}
.pages-div > ul > li{
    padding: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
}
.pages-div > ul > li >a{
    font-size: large;
}

/*Left area*/

.left-side-area{
    background-color: white;
    max-width: 250px;
    padding: 3px;
}
.left-side-area-inner{
    padding: 20px 5px;
    position: sticky;
    top: 0;
}
/*Serch*/
#search form{
    height: 50px;
    margin: auto;
    display: flex;
}
#search form input{
    flex-grow: 1;
    margin: auto;
    height: 40px;
    margin-right: 2px;
    padding-right: 10px;
    padding-left: 10px; 
}
#search form button{
    margin: auto;
    height: 40px;
}
/*teg-cloud*/
.tag-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tag-box > a{
    margin: 3px 5px;
    font-size: 16px;

}
