@page "/Account/Login"
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContext

@attribute [AllowAnonymous]

<div>
    <p class="h1 text-center">Admin</p>
</div>
<div class="container">
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="alert alert-danger" role="alert">
            <span>@Message</span>
        </div>
    }
    <div class="container d-flex justify-content-center py-5">
        <EditForm class="row col-5" method="post" Model="LoginModel" OnValidSubmit="Authentication">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <ValidationMessage For="() => LoginModel.Email"></ValidationMessage>
                <InputText type="email" class="form-control" @bind-Value="LoginModel.Email" name="email" id="email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <ValidationMessage For="() => LoginModel.Password"></ValidationMessage>
                <InputText type="password" class="form-control" @bind-Value="LoginModel.Password" name="password"
                           id="password" />
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/swagger/index.html"> Explore Api</a>
    </div>
</div>

@code
{
    private string? Message { get; set; }
    private LoginModel LoginModel { get; set; } = new();

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    private async Task Authentication()
    {

        (bool Result, IdentityUser? User) tupple = await UserService.ValidationUserPasswordAsync(LoginModel.Email, LoginModel.Password);

        if (tupple.Result == false)
        {
            Message = "Invalid password or login";
            return;
        }

        var authenticationStateProviderService = (AdminAuthenticationStateProvider)AuthenticationStateProvider;
        await authenticationStateProviderService.UpdateAuthenticationState(tupple.User!);

        NavigationManager.NavigateTo("/", true);

    }


}