<header class="container-fluid border-bottom">
    <div class="container ">
        <nav class="navbar navbar-expand-md navbar-light ">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarList"
                        aria-controls="navbarList" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarList">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="About">Об Авторе</a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-page="Index" method="get" asp-route-tag="">
                        <input class="form-control me-2 border-success" type="text" placeholder="Поиск" name="search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>