<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    @* <!-- HEADER --!> *@
    <partial name="_HeaderPartial" />

    <div class="bimg container-fluid">
        <div id="head-media" class="row py-5 text-center text-white">
            <div class="title-div my-5">
                <h1 class="col-md-12">@ViewData["TitleLine"]</h1>
            </div>
        </div>
    </div>

    <!--MAIN  -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- FOOTER  -->
    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>