@inherits LayoutComponentBase

<HeaderMenu />
<div class="page">
    <div class="sidebar">
        <div> Nav menu</div>
    </div>

    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
