@page "/admin/TagsList"

<SideMenu ></SideMenu>
<div class="col-lg-10">
    <h2>Теги</h2>

    <table class="table">
        <thead>
            <tr>
                <th class="col" scope="col">#</th>
                <th class="col-11" scope="col">Название</th>
                <th class="col" scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            <tr class="post">
                <th scope="row">1</th>
                <td> <a href="">AAAAAA</a> </td>
                <td>43.32.4232</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFA</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFAF</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAFA</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">Afgd</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFkljk</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="">AFAlgfgf</a></td>
                <td>32.65.4223</td>
            </tr>
        </tbody>
    </table>
</div>