@page "/admin/TagsList"

<SideMenu ></SideMenu>
<div class="col-lg-10">
    <h2>Теги</h2>

    <table class="table">
        <thead>
            <tr>
                <th class="col" scope="col">#</th>
                <th class="col-11" scope="col">Название</th>
                <th class="col" scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            <tr class="post">
                <th scope="row">1</th>
                <td> <a href="/admin/Tag/Edit">AAAAAA</a> </td>
                <td>43.32.4232</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFAFAf</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFA</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFAF</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAFA</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">Afgd</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFkljk</a></td>
                <td>32.65.4223</td>
            </tr>
            <tr class="post">
                <th scope="row">2</th>
                <td><a href="/admin/Tag/Edit">AFAlgfgf</a></td>
                <td>32.65.4223</td>
            </tr>
        </tbody>
    </table>
</div>