<div class="col-lg-2">
    <div class="container ">
        <ul class="navbar-nav sidebar">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="Articles">Посты</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="Tags">Теги</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="Options">Настройки</NavLink>
            </li>
            <hr>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="Swagger">Swagger</NavLink>
            </li>
        </ul>
        <hr>
    </div>
</div>