<div class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Поиск" @bind="@SerchString" @bind:event="oninput"
        @onkeydown="KeyPush">
    <button class="btn btn-outline-success" type="button" @onclick="@Serch">Поиск</button>
</div>


@code {
    [Parameter]
    public string Value { get; set; }

    public string SerchString { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private void KeyPush(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (string.IsNullOrWhiteSpace(SerchString) == false)
            {
                OnClickCallback.InvokeAsync();
                @* Tags.Add(InputTag);
                    InputTag = string.Empty; *@
            }
        }
    }

    private void Serch()
    {

        OnClickCallback.InvokeAsync();

    }

}
